body {
	margin: auto;
}
header {
	
	background-color: #66cc99;
	height: 88px;
	width: 1347px;
	padding-top: 2px;


}
header img {
	margin-left: 80px;
	margin-top: 23px;
	margin-right: 5px;
	float: left;
}
#ts {
	color: white;
	font-size: 18px;
	font-family: Lato;
    font-weight: lighter;
    letter-spacing: 1.5px;
    line-height: 20px;
    margin-top: 3px;

	float: left;
}
#icon {
	margin-left: 1062px;
	margin-top: 22px;
	

}
#gmail {
	display: inline-block;
	width: 41px;
	height: 42px;
	background-image: url(google.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;

}
    #gmail:hover {
    	background: url(ghover.png);
    }
#twitter {
	display: inline-block;
	width: 41px;
	height: 42px;
	background-image: url(twitter.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 18px;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s ;
}
    #twitter:hover {
    	background: url(thover.png);
    }
#facebook {
	display: inline-block;
	width: 41px;
	height: 42px;
	background-image: url(facebook.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 18px;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
}
    #facebook:hover {
    	background: url(fhover.png);
    }
#imagetext
{
	background: url(background.png)no-repeat;
	height:433px;
	 
	padding-top: 70px;

}
#imagetext h1{
	color: white;
	font-size: 46px;
	text-align: center;
	font-family:Lato;
	font-weight: bold;
	letter-spacing: 4px;
	line-height: 100%;
	margin-top: 49px;
	
}
#imagetext h2{
	color: white;
	font-size: 46px;
	text-align: center;
	letter-spacing: 3px;
	line-height: 100%;
	font-family: Open Sans;
	font-style: bold;
	margin-top: -20px;
	
	
}
 #know {
 	text-align: center;
  	color: white;
 	font-family: Lato;
 	font-weight: regular;
 	font-size: 24px;
 	line-height: 100%;
 	letter-spacing: 2px;
 	margin-right: 12px;
 	margin-top: 69px;
 }
 #tech {
 	color:#ff9900;
 	font-size: 24px;
 	letter-spacing: 2px;
 	font-family:Lato-LightItalic;
 	line-height: 100%;

 	 }

 #border p {
 	font-size: 19px;
 	margin-top: 11px;
 	font-family:Myriad Pro;
 	font-weight: normal;
 	letter-spacing: 2px;
 	}
 	#border p a{
 		color: white;
 		font-size: 19px;
 	margin-top: 11px;
 	font-family:Myriad Pro;
 	font-weight: normal;
 	letter-spacing: 2px;
 		text-decoration: none;
 	} 
 	 

 	 #border {
 	border: 2px solid #ff9900;
 	background-color: #ff9900;
 	color:white;
 	width: 272px;
 	height: 45px;
 	margin-left: 541px;
 	text-align: center;
 	margin-top: 47px;
 	
 }
   #border:hover {
   	border: 2px solid white;
      } 


#circle {
	width: 6px;
	height: 6px;
	background: #333333;
	border-radius: 50px;
	border-radius: 50px;
	border-radius: 50px;
	margin-right: 18px;

}
.small 
	{
	width: 5px;
	height: 5px;
	background: #999999;
	border-radius: 50px;
	border-radius: 50px;
	border-radius: 50px;
	margin-right: 18px;
}
#small {
	width: 5px;
	height: 5px;
	background: #999999;
	border-radius: 50px;
	border-radius: 50px;
	border-radius: 50px;
}
.dot {
	margin-left: 611px;
	margin-top: 0px;
}

li {
	display: inline-block;
}
.what {
	text-align: center;
	color: #66cc99;
	font-size: 36px;
	margin-top: -5px;
	font-family:Lato;
	font-weight: lighter;
    
}
#rect1 
{
	
	width: 220px;
	height: 220px;
	margin-left: 98px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    
    .rect1 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect1 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -10px;
		margin-top: -4px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;
	}
	.rect1:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	

    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }



 #rect2 
{
	
	width: 220px;
	height: 220px;
	margin-left: 50px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    .rect2 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect2 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -9px;
		margin-top: -8px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;
	}
	.rect2:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	
    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }
#rect3 
{
	
	width: 220px;
	height: 220px;
	margin-left: 50px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    .rect3 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect3 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -8px;
		margin-top: -5px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;
	}
	.rect3:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	
    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }
#rect4 
{
	
	width: 220px;
	height: 220px;
	margin-left: 50px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    .rect4 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect4 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -4px;
		margin-top: -11px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;
	}
	.rect4:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	
    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }
#rect5 
{
	
	width: 220px;
	height: 220px;
	margin-left: 98px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    .rect5 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect5 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -8px;
		margin-top: -12px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;
	}
	.rect5:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	
    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }
#rect6 
{
	
	width: 220px;
	height: 220px;
	margin-left: 50px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    .rect6 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect6 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -12px;
		margin-top: -11px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;
	}
	.rect6:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	
    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }
 #rect7 
{
	
	width: 220px;
	height: 220px;
	margin-left: 50px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    .rect7 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect7 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -7px;
		margin-top: -9px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;
	}
	.rect7:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	
    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }
#rect8 
{
	
	width: 220px;
	height: 220px;
	margin-left: 50px;
	text-align: center;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
    }
    .rect8 {
	width: 50px;
	height: 50px;
	border: 1px solid #999999;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	box-shadow: -4px 5px 9px -1px #cccccc;
	margin-left: 80px;
	}
	.rect8 img{
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		margin-left: -9px;
		margin-top: -7px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: 18px;
		padding-left: 18px;	}
	.rect8:hover {
		background: #66cc99;
		box-shadow: -4px 5px 9px -1px #999999;

	}
	
    #line {
	width: 16px;
	border-bottom: 1px solid #666666;
	margin-left: 100px;
	margin-top: -8px;
	margin-bottom: 0px;
    }


#fullrect {
	margin-left: 11px;
}
    #fullrect h2{
	color:#333333;
	font-family:Lato;
	font-weight: lighter;
	font-size: 20px;

    }
    #fullrect p{
    	color: #000000;
    	font-family:Lato;
    	font-weight: lighter;
    	line-height: 20px;
    	font-size: 14px;
    	margin-top: 18px;
    }
#fullrect1 {
	margin-left: 11px;
	margin-top: 40px;
}
    #fullrect1 h2{
	color:#333333;
	font-family:Lato;
	font-weight: lighter;

	font-size: 20px;
    }
    #fullrect1 p{
    	color: #000000;
    	font-family:Lato;
    	font-weight: lighter;
    	font-size: 14px;
    	line-height: 20px;
    	margin-top: 18px;
    }

#form {
	margin-top: 59px;
	background-color: #66cc99;
	height: 510px;
	text-align: center;
    padding-top: 13px;
    padding-bottom: 10px;
    }
    #form p {
    	padding-top: 0px;
    	color: white;
    	font-size: 38px;
    	font-family:Lato;
    	font-weight: lighter;
    	letter-spacing: 1px;

    }
    #text {
    	width: 653px;
    	height: 45px;
    	margin-top: 0px;
    	text-align: center;
    	font-size: 13pt;
    	font-family: Lato;
    	font-weight: lighter;
    }
    #email {
    	width: 653px;
    	height: 45px;
    	margin-top: 22px;
    	text-align: center;
    	font-size: 13pt;
    	font-family: Lato;
    	font-weight: lighter;
    }
    #subject {
    	width: 653px;
    	height: 80px;
    	margin-top: 22px;
    	text-align: center;
    	padding-top: 65px;
    	font-size: 13pt;
    	font-family: Lato;
    	font-weight: lighter;


    		}
    	
    	.submit {
    	width: 209px;
    	height: 45px;
    	border: 2px solid white;
    	color: white;
    	font-size: 15pt;
    	background-color: #66cc99;
    	margin-top: 18px;
    	font-family: Lato;

    }
        .submit:hover {
        	color: #66cc99;
        	background-color: white;
        	font-family: Lato;
        }

footer {
	background-color: #333333;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 12px;
	color: #b5b2b2;
	font-family:Lato;
	font-weight: lighter;
	font-size: 14px;
}

footer div {
	margin-top: 29px;
}
.phone {
	font-family:Lato;
	font-size: 14px;
	color: #b5b2b2;
}
.copy {
	color: #cccccc;
	font-family:Lato;
	font-size: 14px;
	
	font-weight: bold;
}


